body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #000000;
}

header {
    background-color: #000000;
    color: #fff;
    padding: 10px 0;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header ul li {
    margin-left: 20px;
}

header ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.form-section {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-section h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-section label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-section input,
.form-section textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.form-section button {
    background-color: #1c3ccc;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.list-section {
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 20px;
}

.list-section h2 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 50px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    background-color: #000000;
    color: #fff;
}

td {
    background-color: #fff;
}

td .btn-update, td .btn-delete , td .btn-query{
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
}

.btn-consult {
    background-color: #1c3ccc;
    color: white;
}

.btn-delete {
    background-color: #cc1c1c;
    color: white;
}


footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

footer .sociales{
    text-decoration: none;
    color: wheat;
}
